{# table instanceof Table #}

<table>
    <caption>{{ table.getName }}</caption>

    {# -- HEADER -- #}
    {% if table.isExistsColumns > 0 %}
        <thead>
            <tr>
            {% for col in table.getColumns %}
                <th>{{ col.getName }}</th>
            {% endfor %}
            </tr>
        </thead>
    {% endif %}

    {# -- BODY -- #}
    {% if table.isExistsRows %}
    <tbody>
        {% for row in table.getRows %}
            <tr>
                {% for cell in row.getCells %}
                    <td>{{ cell.getContent }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    {% endif %}

    {# -- FOOTER -- #}
    {% if table.isExistsFooter %}
    <tfoot>
        {% for row in table.getFooterRows %}
            <tr>
                {% for cell in row.getCells %}
                    <td>{{ cell.getContent }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tfoot>
    {% endif %}

</table>